nav >a>img{
    height: 45px;
    width: 50px;
}
body{
    background-color: #141414;
}

#need-help-dropdown { 
    border:1px solid white;
    padding:5px 10px;
  }
  nav{
    background-color: #141414;
  }

